<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="application-top mb-5">
                <img src="/assets/main_image.jpg" alt="メイン画像">
                <div class="catch-copy">
                    <div class="catch-text">土地を貸し借り出来るSNS型アプリ
                        <p><i class="fas fa-leaf" style="color: green;"></i>トチカシ</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="application-about">
            <div class="about-title text-center">
                <i class="fas fa-leaf" style="color: green;"></i>トチカシ
                <span class="about-title-text">とは？</span>
            </div>
            <p class="about-description">
                土地を貸したい人と借りたい人を繋げるアプリ！！<br>使っていない土地を（農地・ガーデニング・駐車場・etc...）借りたい人とマッチングする事が出来るアプリ！！
            </p>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="step-area-title text-center mt-5">
            <h1><strong>かんたん！！</strong>アプリの使い方</h1>
        </div>
        <div class="step-text">
            <div class="step-1 col-xs-12 col-lg-4 mt-3 mb-5">
                <img src="assets/step1_image.jpg" alt="説明欄画像１">
                <p>土地を<span>貸したい人</span>は登録後、土地の<span>詳細（画像、面積）</span>を貸し出す際の<span>条件</span>を記入する。</p>
            </div>
            <div class="step-2 col-xs-12 col-lg-4 mt-3 mb-5">
                <img src="assets/step2_image.jpg" alt="説明欄画像２">
                <p>土地を<span>借りたい人</span>は現在出ている土地を登録後に確認し、土地<span>所有者</span>と<span>連絡</span>を取り合いましょう。</p>
            </div>
            <div class="step-3 col-xs-12 col-lg-4 mt-3">
                <img src="assets/step3_image.jpg" alt="説明欄画像３">
                <p><span>所有者</span>は貸し出す<span>条件</span>が合っていれば、<span>契約</span>まで結びましょう。</p>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="warning text-center mb-5">
            <h1>【<span>注意事項</span>】</h1>
        </div>
        <div class="warning-text text-center">
            <ul>
                <li>他人の土地を無断で貸し出した場合は不動産侵奪（刑法第２３５条の２）に問われます。</li>
                <li>不動産侵奪とは、他人の不動産を侵奪した者は、１０年以下の懲役に処すると定められている。未遂も処罰される（刑法２４３条）もし所有者から連絡があり、発覚した場合は警察に情報を提供する場合もあります。</li>
                <li>土地を貸し出す際の契約は、土地を取られない様にする為、必ず定期借地契約にしましょう。</li>
            </ul>
        </div>
    </div>
    
    <footer>
        <a href="/">
            <i class="fas fa-leaf" style="color: green;"></i>トチカシ
        </a>
        <div class="row text-center">
            <div class="col-xs-12 col-md-2 col-md-offset-2  mt-3">
                <a class="footer-link" href="/users/sign_up">
                    <i class="fas fa-chevron-right"></i>新規登録</a>
            </div>
            <div class="col-xs-12 col-md-2 col-md-offset-4  mt-3">
                <a class="footer-link" href="/users/sign_in">
                    <i class="fas fa-chevron-right"></i>ログイン</a>            
            </div>
            <div class="col-xs-12 col-md-2 col-md-offset-4  mt-3">
                <a class="footer-link" href="/rule">
                    <i class="fas fa-chevron-right"></i>利用規約</a>            
            </div>
            <div class="col-xs-12 col-md-2 col-md-offset-4  mt-3">
                <a class="footer-link" href="/policy">
                    <i class="fas fa-chevron-right"></i>プライバシーポリシー</a>            
            </div>
            <div class="col-xs-12 col-md-2 col-md-offset-4  mt-3">
                <a class="footer-link" href="/contact">
                    <i class="fas fa-chevron-right"></i>お問い合わせ</a>            
            </div>
        </div>
        <div class="text-center web-copyright pt-5 pb-3">
            Copyright © 2020 トチカシ. All Rights Reserved.
        </div>
    </footer>
</div>