.top-image {
  position: relative;
  width: 100%;
  height: auto;
}

.catch-text {
  position: absolute;
  font-size: 300%;
  color: white;
  top: 100px;
  left: 30px;
}

.application-about {
  margin-top: 70px;
  border: solid 3px #33FF00;
  border-radius: 5px;
}

.about-title {
  font-size: 50px;
}

.about-title-text {
  font-size: 40px;
  color: #003399;
}

.about-description {
  padding-left: 60px;
  margin-top: 10px;
  font-size: 30px;
  text-decoration: underline red;
}

.step-area-title h1 {
  font-size: 50px;
}

.step-area-title h1 strong {
  color: red;
}

.step-text {
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
}

.step-text p {
  text-align: left;
  font-size: 20px;
}

.step-text p span {
  color: red;
  font-weight: bold;
}

.warning h1 span {
  color: red;
  font-weight: bold;
}

.warning-text {
  background-color: #FFCCFF;
}

.warning-text ul li {
  text-align: left;
  font-size: 30px;
}